:root {
  --main-font: 'Roboto', sans-serif;
  --heading-font: 'BEBAS NEUE';
  --gold: #CFAD6C;
  --white: #ffffff;
  --light: #dddddd;
  --dark-grey:  #282828;
  --fs-15: 1.25rem;
  --fs-13: 1.125rem; 
  --fs-11: 1rem;
  --fs-10: 0.8rem;
}

body {
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
/* création d'un fond qui va se faire en dégradé avec deux couleurs paramétré et qui va s'adapter a l'image appeller. */
.background-perso{
  height: 100vh;
  background: linear-gradient(135deg, #4a4a4a, #2e2e2e), url('assets/img/404page/texture.png'); 
  background-blend-mode: overlay; 
  background-size: cover;
}
.colorTitle{
  color: var(--light);
}
/* Création du bouton de renvoie vers la page d'accueil avec animation sous desktop */
.btn-gold {
  background-color: var(--gold);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.85rem 1.5rem;
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-gold:hover {
  background-color: #c2a256;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* mise en place du responsive pour mobile. */
@media (max-width: 768px){
.fs-responsive{
  font-size: 1.1rem !important;
}
.btn-gold{
  padding: 0.4rem 0.8rem !important;
  font-size: 0.8rem !important;
}
.w-75{
  width: 80% !important;
}
}

