 /* parametrage par defaut de l'affichage */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset du css de base pour harmoniser les différents navigateurs */
html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
 /* Mise en place root pour police d'ecriture, couleur de texte et fond, ainsi que taille de texte. */

:root {
  --main-font: 'Roboto', sans-serif;
  --heading-font: 'BEBAS NEUE';
  --gold: #CFAD6C;
  --white: #ffffff;
  --light: #dddddd;
  --dark-grey:  #282828;
  --fs-15: 1.25rem;
  --fs-13: 1.125rem; 
  --fs-11: 1rem;
  --fs-10: 0.8rem;
}
/* Taille de texte */
.large {
  font-size: var(--fs-15);
}
.medium {
  font-size: var(--fs-13);
}
.small {
  font-size: var(--fs-11);
}
.xsmall {
  font-size: var(--fs-10);
}
.p17{
  font-size: 1.063rem;
}
.p15 {
  font-size: 0.938rem ;
}
.fw-700{
  font-weight: 700;
}
.fw-500{
  font-weight: 600;
}
/* Police d'ecriture */
.body {
  font-family: var(--main-font);
}
.font-text{
  font-family: var(--heading-font);
}
/* Dimension icones */
.width20{
  width: 20px;
  height: 20px;
}
/* Dimension du logo */
.logowidth{
  width: 9.375rem;
  height:3.75rem;
}
/*animation couleur au passage de la souris (menu déroulant)*/
.gold-hover:hover {
    background-color: transparent !important;
    color: #CFAD6C !important;
  }
/*animation au passage de la souris sur les onglets de la navigation*/
.nav-hover {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 24px 16px;
  transition: color 0.3s ease;
  z-index: 1;
}
.nav-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #CFAD6C; /* Doré */
  z-index: -1;
  transition: width 0.3s ease;
}
.nav-hover:hover::before {
  width: 100%;
}
.nav-hover:hover {
  color: black;
}
/* La navbar est positionnée au-dessus du carrousel */
.navbar-over-slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent */
  border: none !important;
  box-shadow: none !important;
}
/*stylisation du lien "EN"*/
.lang-ribbon {
  position: absolute;
  top: 0;
  right: 15px;
  display: inline-block;
  background-color: #CFAD6C;
  color: black;
  text-align: center;
  padding: 6px 4px;
  font-weight: bold;
  text-decoration: underline;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); /* forme de pointe */
}
/* Alignement forcé des différents blocs de la navigation*/
#navbarSupportedContent{
  display: contents!important;
}

/* Le header contient tout le slider */
header {
  position: relative;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.7;
}

.carousel-indicators .active {
  opacity: 1;
}

.text-gold{
  color: var(--gold);
}
/* positionnement phrase commerciale et call to action */
.transform-translate{
  transform: translate(-50%, 0%)!important;
}
.mb-56{
  margin-bottom: 3.5rem;
}

/* Supprime les bordures et rend tout clean */
.custom-link {
  border: none;
  padding: 10px 10px;
  font-weight: bold;
  color: white !important; /* texte blanc par défaut */

  transition: background-color 0.3s ease;
  text-decoration: none; /* pas de souligné */
}

/* Pas de soulignement */
.custom-link:hover,
.custom-link:focus {
  text-decoration: none;
  color: white;
}
/* Alignement du titre sans <br> */
h2 span{
    display: block;
}
/* padding left and right pour cards */
.py-10{
  padding-top: 2rem;
}
/* taille des icones activités */
.width-60{
  width: auto;
  max-height: 80px;
  margin: 0 auto;
}
/* mise en place des fonds des cartes */
.bg-poids {
    background-image: url(assets/img/accueil/bg_activite_1.jpg);
    background-size: cover;
    height: 60vh;
}
.bg-velo{
    background-image: url(assets/img/accueil/bg_activite_2.jpg);
    background-size: cover;
    height: 60vh;
}
.bg-corde{
  background-image: url(assets/img/accueil/bg_activite_3.jpg);
  background-size: cover;
  height: 60vh;
}
.bg-haltere{
    background-image: url(assets/img/accueil/bg_activite_4.jpg);
    height: 60vh;
    background-size: cover;
  }
  .bg-color{
    background-color: #282828;
    height: 70vh;
  }
  /*  */
  .card-contenaire{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;  
    padding: 1.5rem;
    min-height: 60%;
    text-align: center;
  }
  
  .none{
    text-decoration: none;
  }
  /* Mise en place du trait sous les titres */
  .gold-underline {
    text-align: center;
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #2c2c2c;
  }
  
  .gold-underline::after {
    content: "";
    position: absolute;
    bottom: 40px; /* espace entre le texte et le trait */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* longueur du trait */
    height: 3px;  /* épaisseur du trait */
    background-color: #C9A74D; 
  }
  /* tous sa pour faire un trait animé sous un lien! */
  .act-underline-hover {
    position: relative;
    display: inline-block; /* pour que la taille s'adapte au texte */
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  .act-underline-hover:hover{
    color: white;
    text-decoration: none;
  }
  
  .act-underline-hover::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 2px;
    width: 10%;
    background-color:white;
    transition: width 0.3s ease;
  }
  
  .act-underline-hover:hover::after {
    width: 50%;
  }
  /* trait avec animation dans la catégorie actualité */
  .underline-hover {
    position: relative;
    display: inline-block; /* pour que la taille s'adapte au texte */
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .underline-hover:hover{
    color: black;
    text-decoration: none;
  }
  
  .underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 10%;
    background-color:black;
    transition: width 0.3s ease;
  }
  
  .underline-hover:hover::after {
    width: 35%;
  }
  
  /* Footer heading (h3) styles */
  footer h3 {
    font-size: 18px;
  letter-spacing: 1.2px;
  font-family: var(--heading-font);
}

/* Footer links */
footer a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

footer a:hover {
  color: var(--gold);
}
/* Footer links with dash before them */
.footer-links li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 1.2rem;
}

.footer-links li::before {
  content: "—";
  position: absolute;
  left: 0;
  color: var(--white);
  font-weight: bold;
  transition: color 0.2s;
}

.footer-links li:hover::before {
  color: var(--gold);
}
.footer-logo {
  width: 30px;
  height: auto;
}
.footer-agence {
  font-size: 12px;
}
.footer-agence-logo{
  height: 20px;
}

/* Instagram button in the image section */
.instagram-button {
  transition: background-color 0.3s ease;
}

.instagram-button:hover {
  background-color: #eee;
  color: var(--gold) !important;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.logo-title img.logo {
  width: 40px;
  height: auto;
}

a {
  color: #dddddd;
  text-decoration: underline;
  transition: color 0.2s;
}

.pl-21{
  padding-left: 1.3rem;
}

.nav-link {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 1200px) {
  .phone{
    display: none !important;
  }
  .reseau{
    display: none !important;
  }
  #navbarSupportedContent{
    display: flex!important;
  }
  .navbar-brand.logowidth img {
  width: 150px !important;
  height: auto;
}
  .navbar-brand {
    margin-left: 1.5rem; 
  }
  .p17{
    font-size: 0.938rem;
  }
  .p15{
    font-size: 0.875rem;
  }
  .p12{
    font-size: 0.75rem;
  }
}

@media (max-width: 992px) {
  
#navbarSupportedContent:not(.show){
  display: none!important;
}
.title{
  justify-content: center !important;
}
.nav-hover{
  padding: 5px 10px;
}
.large{
  font-size: 14px !important;
}
.carousel-item img {
  object-fit: cover !important;
  width: 100% !important;
  height: 18rem !important;
}
.navbar-toggler{
     background-color: #CFAD6C;
     padding: 0 0;
  }
  .font-title{
    font-size: 1rem;
  }
  /* suppression de la marge pour le responsive */
  .mb-56{
    margin-bottom: 0 !important;
  }

  .navbar-collapse {
  background-color: #212529;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 2rem 1.5rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  .nav-link {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}
}

@media (max-width: 768px) {
  .footer-links li::before {
    display: none;
  }

  .footer-links li {
    padding-left: 0;
    text-align: center;
  }

  footer h3 {
    white-space: normal;
    text-align: center;
  }

  footer .col-md-6,
  footer .col-lg-4 {
    text-align: center !important;
  }
}


@media (max-width: 576px) {
  .large{
    font-size: 12px !important;
  }
  /* changement de taille du bouton slider */
  .btn-medium{
    font-size: var(--fs-13);
  }
  .posabsres {
    position: absolute;
    top: 0;
    right: 0 !important;
  }
}